#menu{
    font-size: 16pt;
    font-weight: 300;
}

.menu-link:hover{
    background-color: #a90e15;
    color: #ffffff;
}

ul,.center{
    list-style: none;
    width: auto;
}

.my-title {
    margin-top:20px;
    text-align: center;
}

.my-text{
    display:block;
    font-size: 18px;
}

.my-comment{
    font-size:15px;
}

.mar-bott{
    margin-bottom: 20px;
}


@media only screen and (min-width: 641px) {
    .am-offcanvas {
        display: block;
        position: static;
        background: none;
    }

    .am-offcanvas-bar {
        position: static;
        width: auto;
        background: none;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .am-offcanvas-bar:after {
        content: none;
    }

}

@media only screen and (max-width: 640px) {
    .am-offcanvas-bar .am-nav>li>a {
        color:#ccc;
        border-radius: 0;
        border-top: 1px solid rgba(0,0,0,.3);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
    }

    .am-offcanvas-bar .am-nav>li>a:hover {
        background: #404040;
        color: #fff
    }

    .am-offcanvas-bar .am-nav>li.am-nav-header {
        color: #777;
        background: #404040;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        border-top: 1px solid rgba(0,0,0,.3);
        font-weight: 400;
        font-size: 75%
    }

    .am-offcanvas-bar .am-nav>li.am-active>a {
        background: #1a1a1a;
        color: #fff;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
    }

    .am-offcanvas-bar .am-nav>li+li {
        margin-top: 0;
    }
}

.my-button {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0;
}
.my-sidebar {
    padding-right: 0;
    border-right: 1px solid #eeeeee;
}

.my-footer {
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
@media only screen and (min-width: 1025px){
    .my-head {
        margin-top: 25px;
        margin-left: 3%;
        width: auto;
    }
    .nav{
        float:right;
        margin-left: 20px;
        margin-right: 10px;
        top:0;
    }

    .hvr {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }
    .hvr:hover, .hvr:focus, .hvr:active {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        /* move the element up by 5px */
    }
    .hvr:hover:before, .hvr:focus:before, .hvr:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }

    body{
        border: solid #ddd;
        border-width: 25px 20px;
    }

    .list-text{
        display:block;
        font-size: 18px;
    }

    .margin-top{
        margin-top:70px
    }
}

@media only screen and (max-width: 1025px) and (min-width: 641px) {
    body{
        border: solid #ddd;
        border-width: 5px 2.5px;
    }

    .list-text{
        display:block;
        font-size:16px;
    }

    .margin-top{
        margin-top:70px
    }

    .my-head {
        margin-top: 25px;
        margin-left: auto;
        width: auto;
    }

    .nav {
        float: right;
        margin-top: 15px;
        width: 25%;
        text-align: center;
    }

    #nav{
        padding:0 20%;
    }

    .hvr {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }
    .hvr:hover, .hvr:focus, .hvr:active {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        /* move the element up by 5px */
    }
    .hvr:hover:before, .hvr:focus:before, .hvr:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }
}
@media only screen and (max-width: 641px){
    .my-head {
        margin-top: 20px;
        margin-left: 3%;
        width: auto;
    }

    .list-text{
        display:block;
        font-size: 14px;
    }

    .nav {
        float: right;
        margin-left: auto;
        clear: both;
    }

    @-webkit-keyframes hvr-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }

        33.3% {
            -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes hvr-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }

        33.3% {
            -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
        }

        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }

        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }

        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .hvr {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }
    .hvr:hover, .hvr:focus, .hvr:active {
        -webkit-animation-name: hvr-wobble-horizontal;
        animation-name: hvr-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    .smaller-link{
        font-size: 15px;
    }

    .smaller-title{
        font-size: 20px;
        font-weight: 600;
    }

    .smaller-text{
        font-size: 16px;
    }

    .smaller-footer{
        font-size: 10px;
    }
}

.pagination-center{
    margin-right: auto;
    margin-left: auto;
    width:282px; !important;
}

.my-pagination{
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}